@model Loinprojekt_admin.Models.ViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Block User</h2>

<h2 style="color: red; ">@Html.ValidationMessage("Felmeddelande")</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
       

        <dt>
            @Html.DisplayNameFor(model => model.userObjekt.adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userObjekt.adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userObjekt.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userObjekt.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userObjekt.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userObjekt.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userObjekt.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userObjekt.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userObjekt.phonenumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userObjekt.phonenumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userObjekt.picture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userObjekt.picture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userObjekt.surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userObjekt.surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userObjekt.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userObjekt.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userObjekt.zipcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userObjekt.zipcode)
        </dd>

    </dl>
    <br />
    <br />
    @if (Model != null)
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <h3 style="color: red; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">This is required </h3>

            <span style="font-weight: bold; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Reason for ban</span>
            <div class="input-group">

                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <!-- <textarea id="reason" type="" class="form-control-reason" name="reason" placeholder="Reason for ban"> </textarea>-->
                @Html.EditorFor(model => model.reason, new { @type = "text", @class = "form-control-reason" })
            </div>
            <br /> 

            <span style="font-weight: bold; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">When should the ban expire?</span>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>

                @Html.TextBoxFor(model => model.dateTo,
              new { @type = "date", @class="form-control"  })

                <!--<input id="datetime" type="date" class="form-control" name="datetime" placeholder="Ban to XXXX-XX-XX"> -->
            </div>

            @Html.HiddenFor(model => model.userID)
            <br />
            <div class="form-actions no-color">
                <input type="submit" value="Block" class="btn btn-default" />
            </div>
        }

    }
    <br />
    @Html.ActionLink("Back to List", "ActiveUsers")
</div>
