@model IEnumerable<Loinprojekt_admin.LoginService.InterfaceBlockedUser>
@{
    ViewBag.Title = "Blocked users";
}
<form>
    <br />
    <input type="text" name="search" placeholder="Search..." />
    <input type="submit" name="search" value="Search account" />

</form>
<h2 style="color: red; ">@Html.ValidationMessage("Felmeddelande")</h2>

@if (Model.Count() > 0)
{
    <h2>Blocked Users</h2>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">

        <table class="table">
            <tr>
                <th class="th">Username</th>
                <th class="th">Reason</th>
                <th class="th">Blocked by</th>
                <th class="th">Blocked from</th>
                <th class="th">Blocked to</th>
                <th class="th">Delete account</th>
            </tr>
            @foreach (var item in Model)
            {
            <tr>
                <td style="font-weight: bold; font-style:italic">@Html.ActionLink((string)item.UserObject.Username, "ShowProfile", new { id = item.ID })</td>
                <td>@Html.DisplayFor(m => item.Reason)</td>

                <td style="font-weight: bold; font-style:italic">@Html.ActionLink((string)item.Banner.Username, "AdminProfile", new { id = item.SuspendedBy })</td>
                <td>@(item.DateFrom.ToString("yyyy/MM/dd"))</td>
                <td>@(item.DateTo.ToString("yyyy/MM/dd"))</td>


                <td>
                    @Html.ActionLink("Delete account", "Delete", new { id = item.ID })
                </td>
            </tr>
            }

        </table>
    </div>
}
else
{
    <h2 style="color:red">No blocked users here</h2>
}
