@model Loinprojekt_admin.UserService.User

@{
    ViewBag.Title = "Ta bort";
}

<h2>Ta bort</h2>

<h3>Är du säker på att du vill radera?</h3>
<h2 style="color: red; ">@Html.ValidationMessage("Felmeddelande")</h2>

<div>
    <h4>Användare</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Bild
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Picture)
        </dd>

        <dt>
            Användarnamn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt>
            Förnamn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Efternamn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>


        <dt>
            E-post
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Kontostatus
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountStatus)
        </dd>
        <dt>
            Personnummer
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalCodeNumber)
        </dd>

        <dt>
            Adress
        </dt>
        <dt>
            Postnummer
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            Stad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>




        <dt>
            Telefonnummer
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phonenumber)
        </dd>





    </dl>
    @if (Model != null)
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                @Html.HiddenFor(m => m.Id)
                <input type="submit" value="Ta bort" class="btn btn-default" /> 
            </div>
        }

    }
                @Html.ActionLink("Tillbaka till listan", "ActiveUsers")
</div>
