@model IEnumerable<Loinprojekt_admin.LoginService.InterfaceFlaggedUser>
@{
    ViewBag.Title = "Flagged userss";
}
<form>
    <br />
    <input type="text" name="search" placeholder="Search..." />
    <input type="submit" name="search" value="Search account" />

</form>
<h2 style="color: red; ">@Html.ValidationMessage("Felmeddelande")</h2>
@if (Model.Count() >0)
{
    <h2>List of flagged users</h2>
  
    <div class="table-wrapper-scroll-y my-custom-scrollbar">

        <table class="table">
            <tr>
                <th class="th">Username</th>
                <th class="th">Reason</th>
                <th class="th">Flagged by</th>
                <th class="th">Block</th>
                <th class="th">Unflag</th>
                <th class="th">Delete</th>

            </tr>
            @foreach (var item in Model)
            {
            <tr>
                <td style="font-weight: bold; font-style:italic">@Html.ActionLink((string)item.WhoIsFlagged.Username, "ShowProfile", new { id = item.ID })</td>
                <td>@Html.DisplayFor(m => item.Reason)</td>
                <td style="font-weight: bold; font-style:italic">@Html.ActionLink((string)item.FlaggedBy.Username, "ShowProfile", new { id = item.FlaggedByUserId })</td>
               
                <td>
                    @Html.ActionLink("Block user", "BlockUser", "Home", new { id = item.ID })
                </td>
                <td>
                    @Html.ActionLink("Unflag", "Unflag", new { id = item.ID })
                </td>
                <td>
                    @Html.ActionLink("Delete account", "DeleteAccount", new { id = item.ID })
                </td>
            </tr>
            }

        </table>
    </div>
}
else
{
    <h2 style="color: red">It seems like there are no flagged errands yet</h2>
}
