@model Loinprojekt_admin.UserService.User

@{
    ViewBag.Title = "Profil";
}

<h2 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Profil</h2>
<h2 style="color: red; ">@Html.ValidationMessage("Felmeddelande")</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        @if (Model != null)
        {
            if (Model.Picture != null)
            {
                <dt>
                    Bild
                </dt>
            }
            else
            {
                <dt style="color:red">Ingen bild finns</dt>
                <dd>             </dd>
            }
            <dd>
                <img style="height:200px; width:200px;" src="@Model.Picture" />
            </dd>
            if (Model.Username != null)
            {
                <dt>
                    Användarnamn
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Username)
                </dd>
            }
            else
            {
                <dt style="color:red">Användarnamn finns inte</dt>
                <dd>              </dd>
            }
            if (Model.Name != null)
            {
                <dt>
                    Förnamn
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
            }
            else
            {
                <dt style="color:red">Förnamn finns inte</dt>
                <dd>              </dd>
            }
            if (Model.Surname != null)
            {
                <dt>
                    Efternamn
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Surname)
                </dd>
            }
            else
            {
                <dt style="color:red">Efternamn finns inte</dt>
                <dd>              </dd>
            }
            if (Model.PersonalCodeNumber != null)
            {
                <dt>
                    Personnummer
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PersonalCodeNumber)
                </dd>
            }
            else
            {
                <dt style="color:red">Personnummer finns inte</dt>
                <dd>              </dd>
            }
            if (Model.Email != null)
            {
                <dt>
                    E-post
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
            }
            else
            {
                <dt style="color:red">E-post finns inte</dt>
                <dd>              </dd>
            }

            if (Model.Address != null)
            {
                <dt>
                    Adress
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

            }
            else
            {
                <dt style="color:red">Ingen adress finns</dt>
                <dd>                </dd>
            }
            if (Model.ZipCode != null)
            {
                <dt>
                    Postnummer
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ZipCode)
                </dd>
            }
            else
            {
                <dt style="color:red">Postnummer finns inte</dt>
                <dd>              </dd>
            }

            if (Model.City != null)
            {
                <dt>
                    Stad
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.City)
                </dd>
            }
            else
            {
                <dt style="color:red">Ingen stad finns</dt>
                <dd>              </dd>
            }




            if (Model.Phonenumber != null)
            {
                <dt>
                    Telefonnummer
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Phonenumber)
                </dd>
            }
            else
            {
                <dt style="color:red">Telefonnummer finns inte</dt>
                <dd>              </dd>
            }



        }
        else
        {

        }

    </dl>
</div>
<p>
    @Html.ActionLink("Tillbaka till aktiva användare", "ActiveUsers", "Home")
</p>
