@model Loinprojekt_admin.Models.Userobjekt

@{
    ViewBag.Title = "Profil";
}

<h2 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Profil</h2>
<h2 style="color: red; ">@Html.ValidationMessage("Felmeddelande")</h2>
<div>
</div>
<div>

    @if (Model.StatusId != 3)
    { 
    <button class="blockBtn"> @Html.ActionLink("Blockera", "BlockUser", new { id = Model.user.Id }, new { @class = "blockbtnColor" })</button>

    }
    else
    {

    }

    <hr />

    <dl class="dl-horizontal">
        @if (Model != null)
        {

            if (Model.user.Picture != null)
            {
                <dt>
                    Bild
                </dt>
            }
            else
            {
                <dt style="color:red">Ingen bild finns</dt>
                <dd>             </dd>
            }
            <dd>
                <img style="height:200px; width:200px;" src="@Model.user.Picture" />
            </dd>
            if (Model.user.Username != null)
            {
                <dt>
                    Användarnamn
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.user.Username)
                </dd>
            }
            else
            {
                <dt style="color:red">Användarnamn finns inte</dt>
                <dd>              </dd>
            }
            if (Model.user.Name != null)
            {
                <dt>
                    Förnamn
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.user.Name)
                </dd>
            }
            else
            {
                <dt style="color:red">Förnamn finns inte</dt>
                <dd>              </dd>
            }
            if (Model.user.Surname != null)
            {
                <dt>
                    Efternamn
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.user.Surname)
                </dd>
            }
            else
            {
                <dt style="color:red">Efternamn finns inte</dt>
                <dd>              </dd>
            }
            if (Model.user.PersonalCodeNumber != null)
            {
                <dt>
                    Personnummer
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.user.PersonalCodeNumber)
                </dd>
            }
            else
            {
                <dt style="color:red">Personnummer finns inte</dt>
                <dd>              </dd>
            }
            if (Model.user.Email != null)
            {
                <dt>
                    E-post
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.user.Email)
                </dd>
            }
            else
            {
                <dt style="color:red">E-post finns inte</dt>
                <dd>              </dd>
            }

            if (Model.user.Address != null)
            {
                <dt>
                    Adress
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.user.Address)
                </dd>

            }
            else
            {
                <dt style="color:red">Ingen adress finns</dt>
                <dd>                </dd>
            }
            if (Model.user.ZipCode != null)
            {
                <dt>
                    Postnummer
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.user.ZipCode)
                </dd>
            }
            else
            {
                <dt style="color:red">Postnummer finns inte</dt>
                <dd>              </dd>
            }

            if (Model.user.City != null)
            {
                <dt>
                    Stad
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.user.City)
                </dd>
            }
            else
            {
                <dt style="color:red">Ingen stad finns</dt>
                <dd>              </dd>
            }




            if (Model.user.Phonenumber != null)
            {
                <dt>
                    Telefonnummer
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.user.Phonenumber)
                </dd>
            }
            else
            {
                <dt style="color:red">Telefonnummer finns inte</dt>
                <dd>              </dd>
            }



        }
        else
        {

        }

    </dl>
</div>
<p>
    @Html.ActionLink("Tillbaka till aktiva användare", "ActiveUsers", "Home")
</p>
